body {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: ffffff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.page-header {
  background-color: #f3f7f8; /*#f3f7f8*/
}

.header-top {
  width: 100%;
  min-height: 42px;
  background-color: #293449;
  color: #ffffff;
}

.header-top a {
  color: inherit;
}

.bookmarks a:active,
.basket a:active {
  color: rgba(255, 255, 255, 0.6);
}

.order a{
  background-color: #63a63e;
}

.order:hover a {
  background-color: #5fbb2d;
}

.order a:active {
  color: rgba(255, 255, 255, 0.51);
  background-color: #518534;
}

.basket-full {
  background-color: #ee3643;
}

.description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.users-block ul {
  list-style: none;
}

.users-name {
  background-color: #ffffff;
}

.users-name a {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.users-orders a,
.personal-area a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.users-orders a:hover,
.personal-area a:hover {
  color: #ee3643;
}

.users-orders a:active,
.personal-area a:active,
.users-name a:active{
  color: rgba(50, 66, 92, 0.3);
}

.phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.enter a,
.register a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.enter a:hover,
.register a:hover {
  color: #ee3643;
}

.enter a:active,
.register a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  background-color: #32425c;
}

.main-navigation ul {
  list-style: none;
}

.main-navigation a {
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

.breadcrumbs ul {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
}

.catalog h1 {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  background-color: #f2f6f8;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-size: 15px;
  line-height: 20px;
}

.filter h2 {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  background-color: #f7f3ec;
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter button {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
}

.sort-panel {
  background-color: #f7f3ec;
}

.sort-panel h2 {
  font-family: "PT Sans", Arial;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

.sort-panel ul {
  list-style: none;
}

.sort-panel a {
  font-family: "PT Sans", Arial;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px dotted #ee3643;
}

.sort-panel a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-panel a:active {
  color: #ee3643;
  border-bottom: none;
}

.feature-items {
  list-style: none;
}

.feature-item p {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
}

.feature-item a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.1);
}

.feature-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.feature-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #ffbf47;
}

.instruments {
  background-color: #3bbce3;
}

.equipment {
  background-color: #dc91d8;
}

.discount {
  background-color: #8ed78f;
}

.free-delivery {
  background-color: #ffc047;
}

.slide {
  background-color: #b9a998;
}

.slide h2 {
  font-weight: bold;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.slide p {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
}

.slide a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
}

.slide a:hover {
  background-color: #ca2c37;
}

.slide a:active {
  background-color: #ba2732;
}

.popular-items .wrapper,
.popular-brands .wrapper{
  background-color: #f9f5f0;
}

.popular-items h2,
.popular-brands h2 {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
}

.popular-items ul {
  list-style: none;
}

.button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
}

.popular-items h3,
.product-items h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}

.items-list img {
  background-color: #e7e9e9;
}

.brands-list img {
  background-color: #e7e9e9;
}

.product-items ul {
  list-style: none;
}

.hover a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #63a63e;
}

.hover button {
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
}

.price b:first-child:not(:last-child) {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-decoration: line-through;
  color: #a9a9a9;
  font-size: 17px;
  line-height: 18px;
}

.price-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: #ee3643;
}

.brands-list {
  list-style: none;
}

.pagination ul {
  list-style: none;
}

.pagination a {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
}

.services {
  background-color: #f4f7f9;
}

.services h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.services-header p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services-items {
  font-weight: bold;
  color: #32425c;
  font-size: 21px;
  line-height: 30px;
  list-style: none;
}

.services-slider-items h3 {
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.services-slider-items p {
  font-family: "PT Sans", Arial, sans-serif;
  color: #32425c;
  font-size: 13px;
  line-height: 24px;
}

.info-about h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.info-contacts h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.info p {
  font-family: "PT Sans", Arial, sans-serif;
  color: #32425c;
  font-size: 13px;
  line-height: 24px;
}

.info-about ul {
  list-style: none;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}

.write-us label {
  color: #000000;
  font-size: 18px;
  line-height: 18px;
}

.product-description .container {
  background-color: #f2f6f8;
}

.product-description h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.product-description p {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 24px;
}

.info-contacts img {
  background-color: #e7e9e9;
}

.footer {
  background-color: #32425c;
}

.footer ul {
  list-style: none;
}

.footer-top a {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
}

.footer-top a:hover {
  color: #f3f7f9;
  text-decoration: underline;
}

.footer-top a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-middle a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer-middle a:hover {
  text-decoration: underline;
}

.footer-middle a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-middle p {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
}

.footer-bottom {
  background-color: #293449;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.social-networks a {
  background-color: #212a3a;
}

.social-networks a:hover {
  background-color: #ee3643;
}

.feedback a {
  color: #ffd180;
}

.feedback a:hover {
  color: #ffd180;
  text-decoration: underline;
}

.feedback a:active {
  color: #ee3643;
  text-decoration: none;
}
