body {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: ffffff;
  width: 1200px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.page-header {
  background-color: #f3f7f8; /*#f3f7f8*/
}

.header-top {
  width: 100%;
  min-height: 42px;
  background-color: #293449;
  color: #ffffff;
}

.header-top a {
  color: inherit;
}

.bookmarks a:active,
.basket a:active {
  color: rgba(255, 255, 255, 0.6);
}

.order a{
  background-color: #63a63e;
}

.order:hover a {
  background-color: #5fbb2d;
}

.order a:active {
  color: rgba(255, 255, 255, 0.51);
  background-color: #518534;
}

.basket-full {
  background-color: #ee3643;
}

.description p {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  width: 196px;
  height: 60px;
}

.users-block ul {
  list-style: none;
}

.users-name {
  background-color: #ffffff;
}

.users-name a {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.users-orders a,
.personal-area a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.users-orders a:hover,
.personal-area a:hover {
  color: #ee3643;
}

.users-orders a:active,
.personal-area a:active,
.users-name a:active{
  color: rgba(50, 66, 92, 0.3);
}

.phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-align: center;
  vertical-align: middle;
}

.contact-information .wrapper {
  width: 270px;
  height: 45px;
  border: solid 3px #ffffff;
  padding: 13px 52px 11px 74px;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  margin-left: 10px;
}

.enter a,
.register a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.enter a:hover,
.register a:hover {
  color: #ee3643;
}

.enter a:active,
.register a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation ul{
  background-color: #32425c;
  margin: 0;
  padding: 0;
}

.main-navigation ul {
  list-style: none;
}

.main-navigation a {
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

.breadcrumbs ul {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
}

.catalog h1 {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  background-color: #f2f6f8;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-size: 15px;
  line-height: 20px;
}

.filter h2 {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  background-color: #f7f3ec;
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter button {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
}

.sort-panel {
  background-color: #f7f3ec;
}

.sort-panel h2 {
  font-family: "PT Sans", Arial;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

.sort-panel ul {
  list-style: none;
}

.sort-panel a {
  font-family: "PT Sans", Arial;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px dotted #ee3643;
}

.sort-panel a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-panel a:active {
  color: #ee3643;
  border-bottom: none;
}

.feature-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item p {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.feature-item a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.1);
}

.feature-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.feature-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.feature-item {
  width: 300px;
  height: 123px;
}

.materials {
  background-color: #ffbf47;
}

.instruments {
  background-color: #3bbce3;
}

.equipment {
  background-color: #dc91d8;
}

.discount {
  background-color: #8ed78f;
}

.free-delivery {
  background-color: #ffc047;
}

.slide {
  background-color: #b9a998;
}

.slide h2 {
  font-weight: bold;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.slide p {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
}

.slide a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
}

.slide a:hover {
  background-color: #ca2c37;
}

.slide a:active {
  background-color: #ba2732;
}

.popular-items .wrapper,
.popular-brands .wrapper{
  background-color: #f9f5f0;
}

.popular-items h2,
.popular-brands h2 {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.popular-items ul {
  list-style: none;
}

.button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
}

.popular-items h3,
.product-items h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}

.items-list img {
  background-color: #e7e9e9;
}

.items-list li {
  width: 220px;
  height: 318px;
  border: solid 1px #eaeaea;
}

.brands-list img {
  background-color: #e7e9e9;
}

.product-items ul {
  list-style: none;
}

.hover a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #63a63e;
}

.hover button {
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
}

.items-list b:first-of-type:not(:last-child) {
  font-family: "PT Sans", Arial, sans-serif;
  display: block;
  text-align: center;
  font-weight: bold;
  text-decoration: line-through;
  color: #a9a9a9;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 10px;
}

.price-button {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: #ee3643;
  padding: 10px 36px 12px 36px;
  width: 141px;
  height: 38px;
  margin-bottom: 21px;
  border-radius: 3px;
}

.price-button:nth-child(3) {
  margin-top: 28px;
}

.brands-list {
  list-style: none;
}

.pagination ul {
  list-style: none;
}

.pagination a {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
}

.services {
  background-color: #f4f7f9;
}

.services h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.services-header p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services-items {
  font-weight: bold;
  color: #32425c;
  font-size: 21px;
  line-height: 30px;
  list-style: none;
}

.services-slider-items h3 {
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.services-slider-items p {
  font-family: "PT Sans", Arial, sans-serif;
  color: #32425c;
  font-size: 13px;
  line-height: 24px;
}

.info-about h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.info-contacts h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.info p {
  font-family: "PT Sans", Arial, sans-serif;
  color: #32425c;
  font-size: 13px;
  line-height: 24px;
}

.info-about ul {
  list-style: none;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}

.write-us label {
  color: #000000;
  font-size: 18px;
  line-height: 18px;
}

.product-description .container {
  background-color: #f2f6f8;
}

.product-description h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.product-description p {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 24px;
}

.info-contacts img {
  background-color: #e7e9e9;
}

.footer {
  background-color: #32425c;
}

.footer ul {
  list-style: none;
}

.footer-top a {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
}

.footer-top a:hover {
  color: #f3f7f9;
  text-decoration: underline;
}

.footer-top a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-middle a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer-middle a:hover {
  text-decoration: underline;
}

.footer-middle a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-middle p {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
}

.footer-bottom {
  background-color: #293449;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.social-networks a {
  background-color: #212a3a;
}

.social-networks a:hover {
  background-color: #ee3643;
}

.feedback a {
  color: #ffd180;
}

.feedback a:hover {
  color: #ffd180;
  text-decoration: underline;
}

.feedback a:active {
  color: #ee3643;
  text-decoration: none;
}

/* Сетки */

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 320px;
  margin-bottom: 59px;
}

.header-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 42px;
}

.header-top div {
  margin-top: 0;

}

.header-logo {
  width: 220px;
  height: 100%;
  margin-left: 130px;
}

.search {
  width: 270px;
  height: 42px;
  margin-left: 0;
}

.bookmarks {
  width: 140px;
  height: 100%;
  margin-left: 0;
}

.basket {
  width: 140px;
  height: 100%;
  margin-left: 10px;
}

.order {
  width: 150px;
  height: 100%;
  margin-left: 10px;
  margin-right: 130px;
}

.header-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 158px;
}

.description,
.contact-information,
.enter-and-register {
  width: 300px;
  height: 68px;
  margin-top: 46px;
  margin-bottom: 44px;
  padding: 0;
}

.contact-information,
.enter-and-register {
  margin-left: 20px;
}

.description p {
  width: 196px;
  height: 60px;
  margin: 0;
}

.contact-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}

.contact-information p {
  margin: 0;
}

.enter-and-register {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.enter-and-register div {
  margin-left: 10px;
}

.main-navigation ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 940px;
  height: 60px;
  margin-bottom: 60px;
  padding-bottom: 3px;
  padding-right: 20px;
  padding-left: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 2531px;
}

.main > .container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: center;
  width: 940px;
  margin-bottom: 85px;
}

/* временно для сетки*/
.main .container:not(:first-child) {
  outline: 1px solid red;
}
/*временно для сетки*/

.features {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 409px;
  padding: 0;
}

.first-features {
  margin-bottom: 20px;
  padding: 0;
}


.first-features .feature-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 940px;
  height: 123px;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-items div {
  width: 300px;
  height: 123px;
}

.last-features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.last-features .feature-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 266px;
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.popular-items .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 53px;
  width: 100%;
  height: 427px;
}

.popular-items .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  height: 89px;
  margin-bottom: 20px;
}

.popular-items h2 {
  margin-left: 30px;
  margin-top: 33px;
  margin-bottom: 35px;
  padding: 0;
}

.popular-items .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 253px;
  height: 38px;
  border-radius: 4px;
  margin-right: 24px;
  margin-top: 25px;
  margin-bottom: 26px;
}

.items-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  height: 318px;
  margin: 0;
  padding: 0;
}

.items-list li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.items-list a {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

.items-list h3 {
  margin: 0;
  margin-top: 19px;
  margin-bottom: 11px;
  padding: 0;
}

.popular-brands {
  width: 100%;
  height: 427px;
}

.popular-brands .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 21px;
  width: 100%;
  height: 427px;
}

.popular-brands .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 89px;
  margin-bottom: 20px;
}

.popular-brands h2 {
  margin: 0;
  margin-left: 30px;
  padding: 0;
}

.popular-brands .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 253px;
  height: 38px;
  border-radius: 4px;
  margin: 0;
}

.brands-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.brands-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  border: solid 1px #eaeaea;
  margin-bottom: 20px;

}

.services .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 522px;
}

.services-header {
  display: flex;
  flex-direction: column;
  width: 398px;
  height: 164px;
  margin-left: 130px;
  margin-bottom: 25px;
}

.services-header h2 {
  margin: 0;
  margin-top: 68px;
}

.services-header p {
  width: 398
  margin: 0;
  margin-top: 30px;
}

.info {
  width: 100%;
  height: 536px;
}









.footer {
  display: flex;
  width: 100%;
  height: 300px;
}

.social-networks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social {
  display: inline-block;
  text-align: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.social-networks .social-vk {
  background-image: url("img/vk-icon.svg");
}

.visually-hidden {
  display: none;
}

/*слайдер*/
.slider {
  width: 620px;
  height: 266px;
}

.slider {
  position: relative;
}

.slider input[type=radio] {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 1240px;
  height: 266px;
}

.slider-slides .slide-1,
.slider-slides .slide-2 {
  display: block;
  float: left;
  width: 620px;
  height: 266px;
}

.slider-controls {
  text-align: left;
  z-index: 9;
  position: absolute;
  bottom: 32px;
  left: 292px;
  display: block;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  background-color: white;
  border: 2px solid white;
  border-radius: 50%;
  /*box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
  transition: background-color 0.2s;*/
  cursor: pointer;
}

.slider-slides h2 {
  display: block;
  position: absolute;
  font-size: 36px;
  font-weight: bold;
  top: 0px;
  z-index: 9;
  margin-top: 32px;
  margin-left: 24px;
}

.slide-header {
  position: absolute;
  top: 0;
  width: 620px;
  height: 105px;
  background-color: rgba(0, 0, 0, 0.25);
}

.slider-slides p {
  display: block;
  position: absolute;
  top: 0px;
  z-index: 9;
  font-size: 18px;
  margin-top: 65px;
  margin-left: 25px;
}

.slider-inner a {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 195px;
  height: 38px;
  margin-left: 25px;
  margin-bottom: 22px;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 11px 45px 15px 49px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}

#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-620px);
}
